/* p{
    margin: 0;
} */

#changePasswordPageContainer {
    background: #FAFAFA;
    height: 100vh;
    
}

#changePasswordSection {
    height: 100vh;

    max-width: 500px;
}

#changePasswordTitle {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10vh;
}

#inputFormSpace {
    position: absolute;
    width: 100%;
    top: 40vh;
}

#SubtitleForm {
    padding: 0 9vw;
}

#inputFormSubtitle{
    font-family: 'Inter';
    font-style: normal;
    color: #929292;
    height: 3vh;
}

#inputForm{
    border: none;
    height: 4vh;
    width: 75vw;
    background-color: #A9D0F5;
}

#buttonSpace {
    width: 100%;
    position: absolute;
    bottom: 10vh;
    text-align: center;
}

#passwordChangeButton {
    width: 75vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    background-color: #A1203C;
    color: white;
    font-size: larger;
}