.heavy_reservation {
    background-color: #ffadad;
}

.middle_reservation {
    background-color: #f6bd60;
}

.time_clicked {
    background-color: #84a59d;
}

.selected_day {
    background-color: #43aa8b;
}