#roomInformationPageContainer {
    background: #FAFAFA;
    height: 100vh;
}

#imageSection {
    width: 100%;
    height: 30vh;
}

#roomImage {
    width: 100%;
    height: auto;
}

.roomInformationPageText {
    color: #838383;
    font-family: 'Inter';
    font-style: normal;
}

#nameSection {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    padding: 0 1vh;
}

#reservationButton {
    width: 15vw;
    height: 3vh;
    border: none;
    border-radius: 30px;
    background-color: #A1203C;
    color: white;
    position: absolute;
    right: 3vh;
    ;
}

#facilitySection {
    width: 100%;
    height: 20vh;
}

#facilityList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.facility {
    display: flex;
    width: 33%;
    gap: 2vh;
    margin: 1vh 0;
}

.facilityIcon {
    width: 5vh;
    height: 5vh;
}

#descriptionSection {
    width: 100%;
    height: 15vh;
}

#locationSection {
    width: 100%;
    height: 15vh;
}